.min-h-100vh {
  min-height: 100vh;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justfy-content-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.gap-3 {
  gap: 16px;
}
